<%- include partials/header %>

<h3>FireTV Device Installation Steps </h3>
<p> 1. Setting > Device > Developer Options
    <img class="ui rounded bordered image picInstructions" src="/images/install/step2.png" alt="">
  </p>
  <p> 2. Turn on "Allow Apps from Unknown Sources"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step3.png" alt="">
  </p>
  <p> 3. Search for the "Downloader App"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step4.png" alt="">
  </p>
  <p> 4. Once found Download & Install the Downloader App.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step7.png" alt="">
  </p>
  <p> 5. Click on "Browser" on the Menu to the left.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step6.png" alt="">
  </p>
  <p> 6. Type http://bhome.tv/download and press "Go"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step10.png" alt="">
  </p>
  <p> 7. The download should begin automatically (if this works proceed to step #12)
    <img class="ui rounded bordered image picInstructions" src="/images/install/step11.png" alt="">
  </p>
  <p> 8. If you receive an error uninstall and reinstall the Downloader app.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step10.png" alt="">
  </p>
  <p> 9. Settings > Application > Manage Installed Applications
    <img class="ui rounded bordered image picInstructions" src="/images/install/step11.png" alt="">
  </p>
  <p> 10. Find Downloader & Click Uninstall.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step12.png" alt="">
  </p>
  <p> 11. Repeat steps 3-9.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step13.png" alt="">
  </p>
  <p> 12. Click Install to install B HomeTV.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step14.png" alt="">
  </p>
  <p> 13. Click the button that says "I Have A Code"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step15.png" alt="">
  </p>
  <p> 14. Enter the code you receieved from B.TV Home Solutions.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step16.png" alt="">
  </p>

<%- include partials/footer %>
