<%- include partials/header %>

<div id="pageStart"></div>

<div class="container">

<!-- Notes on using the CrowdFlower Instructions  

  This template uses several basic HTML tags. These are wrapped between < and >. Most tags require an opening and closing tag. An opening tag is simply wrapped like <this>. A closing tag will appear at the end of the section you are applying that tag to and have a / like </this>. You may safely delete these.
  
  You will see HTML Comments (like this one) that appear inside of the html tag <!--. Thes will not be visible except when viewing the source code of a webpage. These HTML comments will contain special hints or explain the new HTML tags we use. -->

<!-- 

h3: This tag defines a html header. These will appear as larger, slightly bolder text depending on the size of the header you use. There are multiple header sizes you can use, ranging from h1 through h6, with h1 being the largest. These tags will be wrapped around your header. Ex: <h2> This is a header</h2>

strong: This designates important text. It will appear as bold in all modern browsers. This tag will be wrapped around the text you want bolded. Ex: <strong>bold this</strong>

-->
<h3><strong>Overview</strong></h3>

<!-- BEGIN CUSTOMIZABLE OVERVIEW SECTION -->

<p style="width:65%">This guide will cover installing the B HomeTV IPTV Streaming Service Application on your FireTV or FireTV stick. If there are any questions please do not hesitate to reach out to us by visiting <a href="http://bhome.tv/contact">bhome.tv/contact</a>.</p>

<!-- END CUSTOMIZABLE OVERVIEW SECTION -->

<!-- 
  hr: This designates a thematic break in your content. It should be used when switching from one topic to a new topic. This renders as a thin horizontal line breaking up sections in modern browsers. This tag does not require a closing </hr> tag.
-->
<hr>

<!--
  ol, ul and li: These are all tags used for crafting HTML lists. <ol> creates an ordered list, elements in this list will be numbered. <ul> creates and unordered list, elements in this list will be bullet pointed. Inside of each <ol> or <ul> tag, you will use the <li> tag to designate each item of the list. Ex: <ol> <li>Item 1</li> <li>Item 2</li> </ol>
  Underlining: You can underline text with the tag <u>. This tag must be wrapped around the text you want underlined. Ex: <u>underline this</u>
-->

<h3><strong>Steps</strong></h3>

<!-- BEGIN CUSTOMIZABLE PROCESS SECTION -->

  <p> 1. Setting > Device > Developer Options
    <img class="ui rounded bordered image picInstructions" src="/images/install/step2.png" alt="">
  </p>
  <p> 2. Turn on "Allow Apps from Unknown Sources"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step3.png" alt="">
  </p>
  <p> 3. Search for the "Downloader App"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step4.png" alt="">
  </p>
  <p> 4. Once found Download & Install the Downloader App.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step5.png" alt="">
  </p>
  <p> 5. Click on "Browser" on the Menu to the left.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step6.png" alt="">
  </p>
  <p> 7. Move the cursor to the address bar.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step7.png" alt="">
  </p>
  <p> 8. Type http://bhome.tv/download and press "Go"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step8.png" alt="">
  </p>
  <p> 9. The download should begin automatically (if this works process to step #13)
    <img class="ui rounded bordered image picInstructions" src="/images/install/step9.png" alt="">
  </p>
  <p> 10. If you receive an error uninstall and reinstall the Downloader app.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step10.png" alt="">
  </p>
  <p> 11. Settings > Application > Manage Installed Applications
    <img class="ui rounded bordered image picInstructions" src="/images/install/step11.png" alt="">
  </p>
  <p> 12. Find Downloader & Click Uninstall.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step12.png" alt="">
  </p>
  <p> 13. Repeat steps 3-9.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step13.png" alt="">
  </p>
  <p> 14. Click Install to install B HomeTV.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step14.png" alt="">
  </p>
  <p> 15. Click the button that says "I Have A Code"
    <img class="ui rounded bordered image picInstructions" src="/images/install/step15.png" alt="">
  </p>
  <p> 16. Enter the code you receieved from B.TV Home Solutions.
    <img class="ui rounded bordered image picInstructions" src="/images/install/step16.png" alt="">
  </p>


<!-- END CUSTOMIZABLE PROCESS SECTION -->

<hr>

<!--
  Lists: We use three different list elements. <ol> creates an ordered list, elements in this list will be numbered. <ul> creates and unordered list, elements in this list will be bullet pointed. Inside of each <ol> or <ul> tag, you will use the <li> tag to designate each item of the list. Ex: <ol> <li>Item 1</li> <li>Item 2</li> </ol>
  Underlining: You can underline text with the tag <u>. This tag must be wrapped around the text you want underlined. Ex: <u>underline this</u>
-->

<h3><strong>Rules and Tips</strong></h3>

<!-- BEGIN CUSTOMIZABLE RULES AND TIPS SECTION -->

REPLACE - Rules: Use green headers for positive/"DO THIS", yellow for warning/"be careful of", red for bad/"DO NOT". 

<!-- BEGIN DO THIS SECTION -->
<h4 style="color:#8cc63e;"><strong>Do This</strong></h4>
REPLACE: This section is good for highlighting specific rules of your task that users should follow or tips that are useful for for getting quality results. 

For example, if you are running a task where you are asking users to collect URLs for a business and only want their official website, this would be where you highlight how a user will use your provided search link to find the task and common traits official websites may have.

If you were running a sentiment analysis task, this section would be useful to instruct your users to imagine that they were the author of the post. Is their intention to write positively, negatively, or neutrally about the brand in question? 
<ul>
  <li>Breaking your tips down into lists usually makes them easier for contributors to understand.</li>
</ul>
<br>
<!-- END DO THIS SECTION -->

<!-- BEGIN BE CAREFUL SECTION -->
<h4 style="color:#ffcb02;"><strong>Be Careful Of</strong></h4>
REPLACE: This section is a good place to highlight potential edge cases your task will run into. 

It will not always be necessary to include this section. If you wish to remove a section, just highly and erase the secton beginning at the BEGIN SECTION html comment and until it's END SECTION note.
<br>

<!--END BE CAREFUL SECTION -->

<!-- BEGIN DO NOT SECTION -->
<h4 style="color:#f05921;"><strong>Do Not</strong></h4>
REPLACE: This section is a good place to highlight additional rules and cases to avoid. 

For example, if you were running a URL find job and only want users to find official websites, not Yelp or other social media profiles, this would be a section where you explain that they should not return social media websites as answers. 

If you were writing a sentiment analyist task, this section would be useful for instructing users to evaluate based on the author's intent and to not include their own personal opinion on the subject. 

<!--END DO NOT SECTION -->

<!-- END CUSTOMIZABLE TIPS SECTION -->

<hr>

<h3><strong>Examples</strong></h3>

<!-- BEGIN CUSTOMIZABLE EXAMPLES SECTION -->

REPLACE - Rules: Lay out several examples of a question, the answer that should be selected and why. It's a great idea to use images and show edge cases in this section. You can use Twitter Bootstrap 2.3.2 to create advanced layouts.

<!-- BEGIN EXAMPLE 1 -->
<h4><u>Example 1</u></h4>

REPLACE - Rules: Lay out several examples of a question, the answer that should be selected and why. It's a great idea to show edge cases in this section. 

<!-- END EXAMPLE 1 -->

<!-- BEGIN EXAMPLE 2 -->
<h4><u>Example 2</u></h4>

REPLACE - Rules: Lay out several examples of a question, the answer that should be selected and why. It's a great idea to show edge cases in this section. 
<!-- END EXAMPLE 2 -->

<!-- BEGIN EXAMPLE 3 -->
<h4><u>Example 3</u></h4>

REPLACE - Rules: Lay out several examples of a question, the a
  
</div>
  
<div id="pageEnd"></div>
  
<%- include partials/footer %>