<% var title = "IPTV | Mesh Technology | B.TV HomeSolutions" %>
<%- include partials/header {title:title} %>



<!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="Reimagine. Your. Cable. Experience.">

                  <!-- main image -->
                  <img src="images/slider-fullscreen-slide-1.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                  <!-- Transparent Background -->
                  <div class="tp-caption dark-translucent-bg"
                    data-x="center"
                    data-y="center"
                    data-start="0"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                    data-transform_out="o:0;s:600;"
                    data-width="5000"
                    data-height="5000">
                  </div>

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption xlarge_white"
                    data-x="center"
                    data-y="110"
                    data-start="1000"
                    data-end="2500"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                    data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Reimagine
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption xlarge_white"
                    data-x="center"
                    data-y="110"
                    data-start="3000"
                    data-end="3800"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-50%];o:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                    data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Your
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption xlarge_white"
                    data-x="center"
                    data-y="110"
                    data-start="4200"
                    data-end="5000"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="x:0;y:[-50%];o:0;s:200;e:Power2.easeInOut;"
                    data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Cable
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption xlarge_white"
                    data-x="center"
                    data-y="110"
                    data-start="5500"
                    data-end="9000"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="x:0;y:[-50%];o:0;s:200;e:Power2.easeInOut;"
                    data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Experience
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption"
                    data-x="center"
                    data-y="250"
                    data-hoffset="-232"
                    data-start="1000"
                    data-end="6200"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                    data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span class="icon large circle"><i class="circle icon-lightbulb"></i></span>
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption"
                    data-x="center"
                    data-y="250"
                    data-start="3000"
                    data-end="6200"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                    data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span class="icon large circle"><i class="circle icon-arrows-ccw"></i></span>
                  </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption"
                    data-x="center"
                    data-y="250"
                    data-hoffset="232"
                    data-start="4000"
                    data-end="6200"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                    data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span class="icon large circle"><i class="circle icon-chart-line"></i></span>
                  </div>

                  <!-- LAYER NR. 8 -->
                  <div class="tp-caption tp-resizeme large_white"
                    data-x="center"
                    data-y="210"
                    data-start="6400"
                    data-end="10000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                    data-transform_out="y:0;s:1000;e:Power2.easeInOut;"><div class="separator light"></div>
                  </div>

                  <!-- LAYER NR. 9 -->
                  <div class="tp-caption medium_white"
                    data-x="center"
                    data-y="260"
                    data-start="6000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[-50%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                    data-transform_out="y:0;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[-50%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">B HomeTV is the premiere IPTV streaming service. <br> Step into a whole new world of opportunities <br> with over 500 channels for just $20 a month.
                  </div>

                  <!-- LAYER NR. 10 -->
                  <div class="tp-caption"
                    data-x="center"
                    data-y="bottom"
                    data-voffset="100"
                    data-start="1250"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                  </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="default" data-title="B HomeTV Features">
                  <!-- main image -->
                  <img src="/images/slider-fullscreen-slide-2.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                  <!-- Transparent Background -->
                  <div class="tp-caption dark-translucent-bg"
                    data-x="center"
                    data-y="center"
                    data-start="0"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                    data-transform_out="o:0;s:600;"
                    data-width="5000"
                    data-height="5000">
                  </div>

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption large_white"
                    data-x="left"
                    data-y="110"
                    data-start="1000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="logo-font">B.TV </span><span class="text-default logo-font">HomeSolutions</span> <br> Premium IPTV Streaming Service.</div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="240"
                    data-speed="500"
                    data-start="1200"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> 500+ HD Channels
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="300"
                    data-speed="500"
                    data-start="1400"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Video On Demand
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="360"
                    data-speed="500"
                    data-start="1600"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span> Premium Channels (HBO, Cinemax, Starz)
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="420"
                    data-speed="500"
                    data-start="1800"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span> Only $20 a month.
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption small_white"
                    data-x="left"
                    data-y="490"
                    data-speed="500"
                    data-start="2000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#products" class="btn btn-default btn-lg btn-animated">Buy Now <i class="fa fa-cart-arrow-down"></i></a>
                  </div>
                </li>
                <!-- slide 2 end -->
                <!-- slide 3 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="default" data-title="Reimagine. Your. Cable. Experience.">

                  <!-- main image -->
                  <img src="/images/slider-fullscreen-slide-3.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                  <!-- Transparent Background -->
                  <div class="tp-caption dark-translucent-bg"
                    data-x="center"
                    data-y="center"
                    data-start="0"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                    data-transform_out="o:0;s:600;"
                    data-width="5000"
                    data-height="5000">
                  </div>

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption large_white"
                    data-x="left"
                    data-y="110"
                    data-start="1000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="logo-font">B.TV </span><span class="text-default logo-font">HomeSolutions</span> <br> Premium IPTV Streaming Service.</div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="240"
                    data-speed="500"
                    data-start="1200"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> 500+ HD Channels
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="300"
                    data-speed="500"
                    data-start="1400"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Video On Demand
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="360"
                    data-speed="500"
                    data-start="1600"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span> Premium Channels (HBO, Cinemax, Starz)
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption medium_white"
                    data-x="left"
                    data-y="420"
                    data-speed="500"
                    data-start="1800"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span> Only $20 a month.
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption small_white"
                    data-x="left"
                    data-y="490"
                    data-speed="500"
                    data-start="2000"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#products" class="btn btn-default btn-lg btn-animated">Buy Now <i class="fa fa-cart-arrow-down"></i></a>
                  </div>
                </li>
                <!-- slide 3 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->
      <div id="page-start"></div>
      <!-- section -->
      <!-- ================ -->
      <section class="section main-container" id="about">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <h2 class="text-center title">About <strong>Us</strong></h2>
              <div class="separator"></div>
              <p class="large text-center text-default"><strong>B.TV Home Solutions was founded for the sole purpose of making all your home devices work better together. We provide innovative and secure solutions for all of your computer &amp; networking needs. </strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h3 class="title">A Company Founded On <span class="text-rotator" data-rotator-animation-effect="fadeIn">Innovation, Integrity, Excellence</span> and A+ Customer Service</h3>
              <p>With several years of <span class="text-default">Information Technology</span> and <span class="text-default">Cyber Security </span> Experience the professionals at <strong>B.TV Home Solutions</strong> will be able to provide solutions in the areas of:</p>
              <ul class="list-icons">
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1 text-default"></i><strong>IPTV Streaming Solutions</strong> </li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1 text-default"></i><strong> Wireless Networking Solutions</strong></li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1 text-default"></i><strong>Information Security Consulting</strong> </li>
                <li class="object-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1 text-default"></i><strong>Custom Web Development</strong></li>
              </ul>
             <p>B.TV Home Solutions' purpose to serve the most high quality products and service at affordable prices. Whether you're a small business looking for an IT or Network Consultation or someone looking to lower their cable bill, we have a solution that is guaranteed to meet your needs.</p>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="overlay-container overlay-visible">
                <img src="https://images.pexels.com/photos/205316/pexels-photo-205316.png?h=350&auto=compress&cs=tinysrgb" alt="">
                <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom default-bg hidden-sm-down">
                  <div class="text">
                    We provide Innovative and Secure Solutions that save you money and out perform the competition, while focusing on the Customer Experience.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Our Team Section -->
<!--           <h3 class="title">Our <strong class="text-default">Team</strong></h3>
          <div class="separator-2"></div>
          <div class="row grid-space-10">
            <div class="col-md-4">
              <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                <div class="overlay-container overlay-visible">
                  <img src="images/team-member-1.jpg" alt="">
                  <div class="overlay-bottom">
                    <ul class="social-links circle dark margin-clear">
                      <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                      <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="xing"><a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="body">
                  <h3 class="margin-clear">Jane Doe</h3>
                  <small>CEO</small>
                  <div class="separator mt-10"></div>
                  <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                  <a href="mailto:info@theproject.com" class="btn btn-lg"><i class="pr-10 fa fa-envelope-o"></i>Contact Me</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                <div class="overlay-container overlay-visible">
                  <img src="images/team-member-2.jpg" alt="">
                  <div class="overlay-bottom">
                    <ul class="social-links circle dark margin-clear">
                      <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                      <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="xing"><a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="body">
                  <h3 class="margin-clear">John Doe</h3>
                  <small>CTO</small>
                  <div class="separator mt-10"></div>
                  <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                  <a href="mailto:info@theproject.com" class="btn btn-lg"><i class="pr-10 fa fa-envelope-o"></i>Contact Me</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member image-box style-2 shadow bordered light-gray-bg text-center">
                <div class="overlay-container overlay-visible">
                  <img src="images/team-member-3.jpg" alt="">
                  <div class="overlay-bottom">
                    <ul class="social-links circle dark margin-clear">
                      <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                      <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="xing"><a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="body">
                  <h3 class="margin-clear">Anne Crayz</h3>
                  <small>Project Manager</small>
                  <div class="separator mt-10"></div>
                  <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                  <a href="mailto:info@theproject.com" class="btn btn-lg"><i class="pr-10 fa fa-envelope-o"></i>Contact Me</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <br>
      </section>


      <!-- Our Team Section end -->
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-8">
              <h2 class="text-center mt-4">Core <strong>Features</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">B HomeTV offers real-time streaming of live television broadcasted in crystal clear High Definition for half the cost of traditional cable & satellite.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                <h3>Advanced Streaming Technology</h3>
                <div class="separator clearfix"></div>
                <p>B HomeTV modernizes the entire television experience with the combination of its state of the art streaming platform and advanced technology, matched with a familiar user interface that closely resembles traditional cable & satellite television.</p>
                <a href="/#whyChooseUs">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                <h3>Professional <br>Customer Support</h3>
                <div class="separator clearfix"></div>
                <p>It is important to be able to get the answers you need when you need them. Our company has been founded with the customer in mind, providing several methods to answers to your questions with prompt and courteous customer support.</p>
                <a href="/#whyChooseUs">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                <h3>Contract Fee <br>Subscription Model</h3>
                <div class="separator clearfix"></div>
                <p>Never worry about credit checks, contracts, or security deposits with our hassel free subscription model. Going on vacation? B HomeTV can be suspended, cancelled, or reactivated at any time. With our Pay-as-you-go option, you are in complete control.</p>
                <a href="/#whyChooseUs">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section default-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-lg-8">
                    <h1 class="title">Don&#39;t Miss Out On Our Offers</h1>
                    <p>Always be the first to know about the latest Events, Updates, Movies, TV Shows, and much more by subscribing to our Newsletter. Also receive special offers and coupon deals.</p>
                  </div>
                  <div class="col-lg-4">
                    <br>
                    <p>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-lg btn-gray-transparent btn-animated" data-toggle="modal" data-target="#exampleModalCenter">
                        Join Our Mailing List<i class="fa fa-arrow-right pl-20"></i>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header bg-default">
                              <h5 class="modal-title" id="exampleModalLongTitle">Subscribe to our Newsletter</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form id="newsletterSignUp" action="/Fsubscribers/new" method="POST" >
                              <div class="modal-body">
                                <div class="form-group">
                                  <label for="firstName"><strong>First Name</strong></label>
                                  <input type="text" class="form-control" name="firstName" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                  <label for="lastName"><strong>Last Name</strong></label>
                                  <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                  <label for="email"><strong>Email address</strong></label>
                                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                  <small id="emailHelp" class="form-text text-muted">We&#39;ll never share your email with anyone else.</small>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-default btn-md">Submit</a>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>

                     </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section -->
      <!-- ================ -->
      <section id="whyChooseUs" class="pv-30">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-8">
              <h2 class="text-center mt-4">Why <strong>Choose</strong> Us</h2>
              <div class="separator"></div>
              <p class="large text-center">We provide all the functionality you need at a price you can afford.</p>
              <br>
            </div>
          </div>
        </div>
        <!-- <div class="owl-carousel content-slider-with-large-controls"> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
              	<img style="border: 2px solid transparent;" src="https://images.pexels.com/photos/567633/pexels-photo-567633.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
              	<!-- <img src="https://images.pexels.com/photos/567633/pexels-photo-567633.jpeg?h=350&auto=compress&cs=tinysrgb" alt=""> -->
                <!-- <img src="https://images.pexels.com/photos/40218/business-innovation-money-icon-40218.jpeg?h=350&auto=compress&cs=tinysrgb" alt=""> -->
              </div>
              <div class="col-lg-6">
                <p class="space-top">Over the past decade, prices for TV services have risen almost twice as fast as inflation, according to an analysis of government data. They continue to rise while B HomeTV consistently provides high quality channels at a fraction of the price of the other guys.</p>
                <div class="media">
                  <div class="d-flex pr-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Extremely Flexible</h4>
                    No Contracts, Credit Checks, Cancellation Fees, or Hidden Fees. Start, Stop, or Pause your service at any time.
                  </div>
                </div>
                <div class="media">
                  <div class="d-flex pr-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Packed Full Of Features</h4>
                    Over 500 Channels Broadcasted in crystal clear High Definition. Enjoy Sports, Premium Channels, and Amazing Kids Lineup, and PPV.
                  </div>
                </div>
                <div class="media">
                  <div class="d-flex pr-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Customer Support</h4>
                    Get Fast and Courteous Customer Service by clicking "Request Support" at the top of the page.
                  </div>
                </div>
                <p><a href="#products" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
              </div>
            </div>
          </div>
          <!-- <div class="container">
            <div class="row">
              <div class="col-lg-6 text-right">
                <p class="space-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At provident modi nobis dolores ratione, maiores beatae vel iste illo incidunt officia sed id cupiditate quasi excepturi</p>
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Extremely Flexible</h4>
                    Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
                  </div>
                  <div class="d-flex pl-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
                    </a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Packed Full Of Features</h4>
                    Cras sit amet nibh libero. Nulla vel metus scelerisque.
                  </div>
                  <div class="d-flex pl-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
                    </a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">24/7 Support</h4>
                    Cras sit amet nibh libero. Nulla vel metus scelerisque.
                  </div>
                  <div class="d-flex pl-20">
                    <a href="#">
                      <span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
                    </a>
                  </div>
                </div>
                <p><a href="#products" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
              </div>
              <div class="col-lg-6">
                <img src="https://images.pexels.com/photos/567633/pexels-photo-567633.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
              </div>
            </div>
          </div>
        </div> -->
      </section>
      <!-- section end -->

      <!-- section -->
      <!-- ================ -->
      <section class="pv-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="mt-4">What We <strong>Offer</strong></h2>
              <div class="separator-2"></div>
              <p>Stop Overpaying for Cable. Get the #1 IPTV Streaming Solution for just <span class="text-default">$20 a month.</span></p>
              <ul class="list-icons">
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1 text-default"></i> 500+ HD Channels</li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1 text-default"></i> 12,000+ Video on Demand Titles </li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1 text-default"></i> Free Pay-Per-View</li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1 text-default"></i> Bufferless Streaming Through Dedicated Servers</li>
              </ul>
              <p>Try it risk free for <strong>7 days.</strong> If you like it keep it for just $20 a month.</p>
              <a href="#products" class="btn btn-default btn-hvr hvr-shutter-out-horizontal btn-lg"><i class="icon-users-1 pr-2"></i>Learn More</a>
            </div>
            <div class="col-lg-6">
              <br>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs style-1" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="icon-heart pr-2"></i>We Love</a></li>
                <li class="nav-item"><a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">What</a></li>
                <li class="nav-item"><a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">We Do</a></li>
              </ul>

              <!-- Tab panes -->
              <div id="tabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="home">
                  <div class="overlay-container overlay-visible">
                    <img class="tabPhoto" src="https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
                    <a href="/#products" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom default-bg hidden-xs">
                      <div class="text">
                       	 A recent study shows that B HomeTV customers save 80% according to the national average.
                      </div>
                    </div>
                   </div>
                  </div>


              <div role="tabpanel" class="tab-pane fade" id="profile">
			<h1 class="ui big header">All Your Favorite Channels</h1>
			    <div class="ui special cards">
			    <div class="card">
			      <div class="blurring dimmable image">
			        <div class="ui dimmer">
			          <div class="content">
			            <div class="center">
			              <a href="/channels">
			                <div class="ui inverted button">See Full Channel List</div>
			              </a>
			            </div>
			          </div>
			        </div>
			        <img class="tabPhoto" src="https://www.unblocknetflix.co.uk/wp-content/uploads/2015/10/US-Channels-in-UK-Watch-US-TV-abroad-online-via-Smart-DNS-or-VPN.gif">
			      </div>
			      <div class="content">
	                       	    <h4>Get more for your money!</h4>
               			</div>
                    <!-- <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                  	<p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
                  	      </div>
                  	 </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages">
                  <h3>Making Television Affordable Again</h3>
                  <p>Over the past decade, prices for TV service have risen almost twice as fast as inflation, according to an analysis of government data.</p>
                  <p>Data provider S&P Global Market Intelligence says customers’ cable and satellite TV bills have soared 53 percent since 2007, to $100.98 in 2017.</p>
                  <p>We provide all of the same channels at a fraction of the price. 80% savings to be exact. How can we do this? By delivering our content over IP Networks!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>
      <!-- section end -->




      <!-- Channels -->
      <!-- =========-->








      <!-- section my portfolio -->
      <!-- ================ -->
      <section id="products" class="pv-30 light-gray-bg padding-bottom-clear">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-8">
              <h2 class="text-center mt-4">Our <strong>Products</strong></h2>
              <div class="separator"></div>
              <p class="large text-center"><span class="text-default"><strong>Reimagine. Your. Cable. Experience</strong></span><br> Watch all the channels you love at a price you can afford.</p>
              <br>
            </div>
          </div>
        </div>
       <!-- Our Products -->
       <!-- ================ -->
            <div class="main col-12">
              <!-- pills start -->
              <!-- ================ -->
              <!-- Nav tabs -->
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#pill-1" role="tab" data-toggle="tab" title="Most Popular"><i class="icon-star"></i> Most Popular</a></li>
<!--                 <li class="nav-item"><a class="nav-link" href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>
                <li class="nav-item"><a class="nav-link" href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Top Sellers</a></li> -->
              </ul>
              <!-- Tab panes -->
              <div class="tab-content clear-style">
                <div class="tab-pane active" id="pill-1">
                  <div class="row masonry-grid-fitrows grid-space-10">
                    <div class="col-lg-4 masonry-grid-item">
                      <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                          <img src="images/plan-monthly.jpg" alt="B HomeTV Monthly Plan">
                          <a class="overlay-link popup-img-single" href="images/plan-monthly.jpg"><i class="fa fa-search-plus"></i></a>
                          <span class="badge">Subscribe & Save</span>
                          <div class="overlay-to-top links">
                            <span class="small">
<!--                               <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a> -->
                              <a href="#" class="btn-sm-link"><i class="icon-link pr-1"></i>View Details</a>
                            </span>
                          </div>
                        </div>
                        <div class="body">
                          <h3><a href="#">B HomeTV Monthly (AutoPay)</a></h3>
                          <p class="medium">Save $5 by enrolling in autoPay.</p>
                          <div class="elements-list clearfix">
                            <span class="price"><del>$25.00</del> $20.00</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" data-toggle="modal" data-target="#myModal">Proceed to Checkout<i class="fa fa-shopping-cart"></i></button>


                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-default">
                                    <h5 class="modal-title" id="exampleModalLabel">Customize. Your. Subscription</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Thank you for subscribing to B HomeTV Monthly Plan! Please complete your order by clicking the "Subscibe" button below.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-default" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="b-hometv-monthly" data-cb-addons_id_0="b-hometv-media-gateway" data-cb-addons_quantity_0="1" data-cb-addons_id_1="additional-codes" data-cb-addons_quantity_1="1" >Subscribe</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 masonry-grid-item">
                      <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                          <img src="images/plan-monthly.jpg" alt="">
<!--                           <span class="badge">25% OFF</span> -->
                          <a class="overlay-link popup-img-single" href="images/plan-monthly.jpg"><i class="fa fa-search-plus"></i></a>
                          <div class="overlay-to-top links">
                            <span class="small">
<!--                               <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a> -->
                              <a href="#" class="btn-sm-link"><i class="icon-link pr-1"></i>View Details</a>
                            </span>
                          </div>
                        </div>
                        <div class="body">
                          <h3><a href="#">B HomeTV Pay-As-You-Go</a></h3>
                          <p class="medium">The Premiere IPTV HD streaming solution.</p>
                          <div class="elements-list clearfix">
                            <span class="price">$25.00</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" data-toggle="modal" data-target="#myModal2">Proceed to Checkout<i class="fa fa-shopping-cart"></i></button>


                            <!-- Modal -->
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-default">
                                    <h5 class="modal-title" id="exampleModalLabel">Customize. Your. Subscription</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Thank you for choosing B HomeTV Pay-As-You-Go! Please complete your order by clicking the "Checkout" button below.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-default" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="b-hometv-pay-as-you-go" data-cb-addons_id_0="b-hometv-media-gateway" data-cb-addons_quantity_0="1" data-cb-addons_id_1="additional-codes" data-cb-addons_quantity_1="1" >Checkout</button>
                                  </div>
                                </div>
                              </div>
                            </div> <!-- Modal Ending -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 masonry-grid-item">
                      <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                          <img src="images/mediaGateway.jpg" alt="B HomeTV Media Gateway Streaming Box">
                          <span class="badge">33% OFF</span>
                          <a class="overlay-link popup-img-single" href="images/mediaGateway.jpg"><i class="fa fa-search-plus"></i></a>
                          <div class="overlay-to-top links">
                            <span class="small">
<!--                               <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a> -->
                              <a href="/mediaGateway" class="btn-sm-link"><i class="icon-link pr-1"></i>View Details</a>
                            </span>
                          </div>
                        </div>
                        <div class="body">
                          <h3><a href="/mediaGateway">Media Gateway Streaming Box</a></h3>
                          <p class="medium">Your. All-Inclusive. Media. Portal </p>
                          <div class="elements-list clearfix">
                            <span class="price"><del>$149.00</del> $99.00</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" data-toggle="modal" data-target="#myModal3">Proceed to Checkout<i class="fa fa-shopping-cart"></i></button>


                            <!-- Modal -->
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-default">
                                    <h5 class="modal-title" id="exampleModalLabel">Customize. Your. Subscription</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Thank you for purchase the B HomeTV Media Gateway to complete your order please choose "Checkout" from below.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-default" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="b-hometv-media-gateway" data-cb-plan-quantity="1" data-cb-addons_id_0="additional-codes" data-cb-addons_quantity_0="1" >Checkout</button>
                                  </div>
                                </div>
                              </div>
                            </div> <!-- Modal Ending -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--  Testimonails Begin -->

              </section>

          <!-- client section -->
<!--           <div class="container">
            <div class="clients-container">
              <div class="clients">
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                  <a href="#"><img src="images/client-1.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                  <a href="#"><img src="images/client-2.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                  <a href="#"><img src="images/client-3.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                  <a href="#"><img src="images/client-4.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                  <a href="#"><img src="images/client-5.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
                  <a href="#"><img src="images/client-6.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                  <a href="#"><img src="images/client-7.png" alt=""></a>
                </div>
                <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
                  <a href="#"><img src="images/client-8.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
           -->
          <!-- client section end -->
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
<!--       <section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6 text-center">
              <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg large circle"><i class="fa fa-diamond"></i></span>
                <h3><strong>Projects</strong></h3>
                <span class="counter">1525</span>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg large circle"><i class="fa fa-users"></i></span>
                <h3><strong>Clients</strong></h3>
                <span class="counter">1225</span>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg large circle"><i class="fa fa-cloud-download"></i></span>
                <h3><strong>Downloads</strong></h3>
                <span class="counter">12235</span>
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg large circle"><i class="fa fa-share"></i></span>
                <h3><strong>Shares</strong></h3>
                <span class="counter">15002</span>
              </div>
            </div>
          </div>
        </div> -->

      </section>
      <!-- section end -->

<%- include partials/footer %>
