<%- include partials/header %>

  	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<div id="pageStart" class="container">
<section id="faq">
        <div class="row">
            <div class="col-md-8 offset-md-2">
            <h2 class="text-center"><strong>Frequently Asked Questions</strong></h2>
                <div class="bd-example" data-example-id="">
<div id="accordion" role="tablist" aria-multiselectable="true">

 <!-- Card #1 beginning -->
  <div id="faqCard" class="card">
    <div class="card-header" role="tab" id="headingOne">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> What Devices Can I Use B HomeTV On? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>FireTV, Android TV, Android Phones, Apple and Windows Computers.<p>
        </a>
      </div>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
      <div class="card-block">
		<h5>Compatible devices for the B HomeTV app </h5>
			<p>Android box 5.1 or higher, android phones or tablets & set top boxes (SP-110). Amazon FireTV & Fire Stick, Nvidia shield, Kodi and more.<br>
			We also have apps that will work on Mac and Windows computers! </p>

			<h5>Additional Info</h5>
			Unfortunately, we don’t have apps yet for ROKU or XBOX but we will release IOS app soon!
      </div>
    </div>
  </div>
  <!-- Card #1 Ending -->

  <!-- Card #2 Beginning -->
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> What is the cost for B HomeTV? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>You can get B HomeTV for as low as $20 a month. </p>
        </a>
      </div>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
      <div class="card-block">
      	<h5>B HomeTV Offers Two Service Plans</h5>
		<p>B HomeTV is $20 per month for over 500+ channels plus all the sports packages when you sign up for autoPay.
		You can go month-to-month for $25 a month.
		Both plans include three device codes that can be used on three devices at the same home.</p>

		<p><a href="/#products"><strong>Click Here To Get Started Now</strong></a></p>
      </div>
    </div>
  </div>
  <!-- Card #2 Ending -->

  <!-- Card #3 Beginning -->
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> Can I get B HomeTV in my State? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>B HomeTV is available anywhere you have a high speed internet connection.<p>
        </a>
      </div>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
      <div class="card-block">
		<h5>B HomeTV is available Worldwide</h5>
		<p>Yes, you can access B HomeTV anywhere in the world with a high speed internet connection.
		We can set one mobile device as your main device that can be used on multiple IP addresses.
		The other 2 devices have to remain stationary and be used in the same household with the same IP address.</p>
      </div>
    </div>
  </div>
  <!-- Card #3 Ending -->

  <!-- Card #4 Beginning -->
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> What Channels Do You Have? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>B HomeTV has all of your Favorite Channels + Premium Sport Packages.<p>
        </a>
      </div>
    </div>

    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="">
      <div class="card-block">
      	<h5>Check Out Our Channel List <a style="text-decoration:underline" class="text-default" href="/channels"><strong>Here</strong></a></h5>
		<p>B HomeTV has over 500 channels. There is no need to purchase additional packages to watch all the shows you love.
		B HomeTV comes with channels that will please every member of your family. For a complete channel listing visit <a href="/channels"><strong>bhometv.com/channels</strong></a>.</p>
      </div>
    </div>
  </div>
  <!-- Card #4 Ending -->

  <!-- Card #5 Beginning -->
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> What is the B HomeTV Media Gateway Streaming Box? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>An all-inclusive media box with all the streaming apps you could ever want. <p>
        </a>
      </div>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
      <div class="card-block">
      			  <h5>Overview</h5>
		          <p>B HomeTV Media Gateway is more than a Set Top Box or Android TV Device. With apps such as Netflix, Hulu, Prime Video, Spotify, Apple Music, and much more; this box becomes your interface to all the things you love. This product includes only the box and is for individuals who have a current B HomeTV subscription, but are looking to add additional boxes for use with their additional device codes. B HomeTV Media Gateway is one of the first boxes to hit the market with the both Android 7.1.1 and Amlogic S912 chipset. Running on Android Nougat, it has a moderate 2GB of RAM, and 16GB of storage space, enough for installing any of your desired APPs.</p>
                  <h5>The Perfect Companion for B HomeTV HD Streaming</h5>
                  <p>B HomeTV Media Gateway Streaming Box comes preconfigured with B HomeTV and everything you need for a seamless transition from your cable or satellite company. Combining the B HomeTV Streaming Box with the B HomeTV Streaming Service provides the ultimate television experience.!</p>
                  <h5 class="space-top text-default">Technical Specifications</h5>
                  <hr>
                  <dl class="row">
                    <dt class="col-sm-3 text-sm-right">Hardware & OS</dt>
                    <dd class="col-sm-9">
                      Operating System: Android 7.1.1 <br>
                      CPU: Amlogic S912 Octa core ARM Cortex-A53 CPU <br>
                      GPU: ARM Mali-T820MP3 GPU up to 750MHz (DVFS) <br>
                      RAM: 2GB DDRIII <br>
                      ROM: 16GB EMMC <br>
                      Extended Storage: TF CARD Support 1~32GB
                    </dd>
                    <dt class="col-sm-3 text-sm-right">Communication</dt>
                    <dd class="col-sm-9">
                      Wifi Connectivity: Built in 2.4G/5G Support IEEE 802.11 AC/b/g/n <br>
                      Ethernet: 10/100M/1000M <br>
                      Bluetooth: 4.1 Media Video Supported <br>
                      Video Output: Built-in HDMI 2.0a with resolution up to 4K <br>
                    </dd>
                    <dt class="col-sm-3 text-sm-right">Other Interfaces</dt>
                    <dd class="col-sm-9">
                      1* HDMI output 2.0 4K*2K @ 60Hz <br>
                      2* High speed USB 2.0,support U DISK and USB HDD <br>
                      1* TF CARD Support 1~32GB <br>
                      1* SPDIF output <br>
                      1* RJ45 LAN Ethernet 100M/1000M <br>
                      1* DC In DC Adapter (5V/2A) <br>
                      Power: 5V/2A <br>
                    </dd>
                    <dt class="col-sm-3 text-sm-right">Miscellaneous</dt>
                    <dd class="col-sm-9">
                      Support DLNA <br>
                      Google Play <br>
                      Google TV Remote <br>
                      LAN <br>
                      3D Movie <br>
                      Email <br>
                      Office Suite <br>
                    </dd>
                    <dt class="col-sm-3 text-sm-right">Package Contents</dt>
                    <dd class="col-sm-9">
                      1 x TV box <br>
                      1 x IR remote <br>
                      1 x HDMI cable <br>
                      1 x Power adapter <br>
                      1 x User manual <br>
                    </dd>
                  </dl>
      </div>
    </div>
  </div>
  <!-- Card #5 Ending -->

  <!-- Card #6 Beginning -->
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <div class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed">
            <h3><i class="fa fa-file-text-o text-default" aria-hidden="true"></i> How Do I Install B HomeTV? <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
            <p>The installation method varies depending on your streaming device.<p>
        </a>
      </div>
    </div>

    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false" style="">
      <div class="card-block">
      	<h5>FireTV and FireTV Sticks</h5>
      	<ol>
      		<li>Navigate to Setting > Device > Developer Options. Turn on “Apps From Unknown Sources”</li>
      		<li>Download the “Downloader” App (just search for downloader).</li>
      		<li>On the left of the downloader you will see an option that says “Browser.” Click this option.</li>
      		<li>Visit <a href="http://bhome.tv/download"><strong>bhome.tv/download</strong></a></li>
      		<li>The download should begin immediately.</li>
      		<li>If you receive an "An Unknown Error Has Occurred" dialogue, uninstall and re-install the downloader app and repeat steps 2-4.</li>
      		<p>For more detail instructions visit <a href="/install/firetv"><strong>bhometv.com/install/firetv</strong></a><p>
      	</ol>
      	<h5>Android Devices</h5>
      	<ol>
      		<li>Open your browser of choice, preferably Google Chrome.</li>
      		<li>Navigate to <a href="http://bhome.tv/download"><strong>bhome.tv/download</strong></a></li>
      		<li>The download should begin automatically.</li>
      		<li>If the installation does not begin automatically open "App Installer"</li>
      		<li>Select the local drive and find your newly download B HomeTV app.</li>
      		<li>Follow the instructions to install the app.</li>
      	</ol>
      	<h5>Personal Computers</h5>
      	<ol>
      		<p><strong>Apple Computers</strong>
      		Navigate to <a href="http://bhome.tv/mac"><strong>bhome.tv/mac</strong></a></p>

      		<p><strong>Windows Computers</strong>
      		Navigate to <a href="http://bhome.tv/windows"><strong>bhome.tv/windows</strong></a></p>
      	</ol>
      </div>
    </div>
   </div>
  <!-- Card #6 Ending -->
</div>
</div>
</div>
<!-- <div id="contactInfo" class="col-md-4 pull-right"> -->
<div id="contactInfo" class="d-none d-xl-block col-xl-2 bd-toc">
			<h2 class="title"><strong>Find<span class="text-default"> Us</span></strong></h2>
                    <div class="separator-2"></div>
                    <p>We excel in the areas of Premium IPTV Solutions, Mesh Technologies, and Network and IT Security Consoluting.</p>
                    <ul class="social-links circle animated-effect-1">
                      <li class="facebook"><a id="supportFB" target="_blank" href="http://www.facebook.com/btvhomesolutions"><i  class="fa fa-facebook"></i></a></li>
                      <li class="twitter"><a id="supportTwitter" target="_blank" href="http://www.twitter.com/BTVHS"><i class="fa fa-twitter"></i></a></li>
                      <li class="googleplus"><a id="supportGooglePlus" target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                      <li class="linkedin"><a id="supportLinkedIn" target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li class="xing"><a id="supportXing" target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
                    </ul>
                    <div class="separator-2"></div>
                    <ul class="list-icons">
                      <li><i class="fa fa-map-marker pr-2 text-default"></i> P.O. Box 145 Grovetown, GA 30813</li>
                      <li><i class="fa fa-phone pr-2 text-default"></i> +1 (857) 228-8532</li>
                      <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-2 text-default"></i>customercare@bhometv.com</a></li>
                    </ul>
             <h4>Didn't find the answers you were looking for?</h4>
             <p>Fill out our Customer Contact Form and one of our customer service representatives will be happy to assist you.</p>
             <a href="#" target="_blank">
             	<button id="typeformButton" class="typeform-share btn btn-outline-info" href="https://donnie25.typeform.com/to/J8GSdB" data-mode="drawer_left" target="_blank">Request Technical Support</button>
             </a>
		</div>
	</div>
</div>
</div>
</div>
</section>

  <div id="pageEnd"></div>

<% include partials/footer %>
