<%- include partials/header %>

<div class="container">
<h1>TERMS & CONDITIONS</h1>
  <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern B.TV Home Solutions LLC's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
  <p>The term 'B.TV Home Solutions LLC' or 'us' or 'we' refers to the owner of the website. The term 'you' refers to the user or viewer of our website.</p>
  <p>The use of this website is subject to the following terms of use:</p>
<ol>
  <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
  <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties.</li>
  <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
  <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
  <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
  <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
  Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.</li>
  <li>By accessing or using any of the services, you are accepting and agreeing to the practices described in the Privacy Policy.
  <p>B.TV Home Solutions LLC are certified reseller of SET TV NOW hereafter referred to as SET. B.TV Home Solutions LLC does not host or upload any videos, films or media files. It does not store any media stream links on any of its servers. B.TV Home Solutions simply provides access to SET's media content while provided added customer service when applicable. B HomeTV is a rebranded version of SET and exists to provide access to SET's media organized in a convenient, user-friendly interface. B HomeTV is not responsible for the accuracy, compliance, copyright, legality, decency, or any other aspect of the content of SET. Use of the B HomeTV app constitutes agreement to abide by SET's terms of use.</p></li>
  <li>B HomeTV Media Gateway may contain applications that organize links freely found on the internet into a user-friendly interface. However, it is still your responsibility to assure the content you are streaming is legal.</li> 
</ol>
  
  <h4>Collection of Personal Information</h4>
  <p>When you use our Products or Website, you may be asked for personally identifiable information such as your name, address, email address, and telephone number.</p>
  <p>By giving us such information, you will need to consent by using it in the manner described in this policy. We will no share your information with third-party agencies and will only use the information you have entrusted to us to better serve you.</p>
  <p>You may withdraw your consent at any time by emailing us at btvhomesolutions2@gmail.com. We will return or destroy your personal information within five days of receipt of your withdrawal of consent.</p>
  <h1>PRIVACY POLICY</h1>
  <h4>Cookies</h4>
  <p>Cookies are small data files that a website you visit may save on your computer or handheld device that usually includes an anonymous unique identifier. Our Websites and those of our Products may use cookies for user authentication, keeping track of your preferences, promotional campaigns, tracking our audience size and traffic patterns, and in certain other cases. We may include small graphic images in our email messages and newsletters to determine whether the messages were opened and the links were viewed.</p>
  <h4>Security</h4>
  <p>All security on our Website is treated seriously. Where applicable, we undertake security steps, including use of SSL technology, on our back-end systems that store customer account information and to protect data transmissions. However, this is not a guarantee that such data transmissions cannot be accessed, altered or deleted due to firewall or other security software failures.</p>
  <p>If you have any further concerns about security, please email our Customer Service team at btvhomesolutions2@gmail.com</p>

<h1>REFUND POLICY</h1>
<h4>Returns</h4>
<p>Our refund policy is 30 Days. Unfortunately we can’t offer you a refund or exchange after this period. To be eligible for a return, your item must be in the same condition that you received it. It must also be in the original packaging. Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</p>
  <p>To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer.</p>


<h4>Refunds (if applicable)</h4>
  <p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</p> 

<h4>Exchanges (if applicable)</h4>
  <p>We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at btvhomesolutions2@gmail.com and send your item to: 145 Radcliff Drive Grovetown GA United States 30813.</p>
<h4>Shipping</h4>
<p>Our products are shipped within 2-3 Days using the following carriers: USPS. To return your product, you should mail your product to:145 Radcliff Drive, Grovetown GA United States 30813. You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund. Depending on where you live, the time it may take for your exchanged product to reach you, may vary. If you are shipping an item over $50, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
</p>
  
</div>

<div id="pageEnd"></div>


<%- include partials/footer %>